h1
{
    font-family:cursive;
    text-align: center;
    color:white   
}
h3
{
    font-family:cursive;
    text-align: center;    
}

table.auto
{
    table-layout: auto;
}
table.fixed
{
    table-layout: fixed;
}
body
{
    background-image: url('12VZ2YARADABEACH.jpg');
    background-size:100% auto;
    background-repeat:no-repeat;    
    position:fixed;
    height:auto;
    width:auto;    
    overflow: hidden;   
}
.content
{
    overflow-y: auto;
    height: 100vh;
}

