body
{
    background-color:white
}
.logo_table
{
    position:absolute; top:15%; left:40%; border:1px solid rgb(255, 255, 255); width:300px;
}
.logo_properties
{
    max-width:100%; height: auto;
}
h1
{
    font-family:cursive;
    text-align: center;
    color:orange
}
h3
{
    font-family:cursive;
    text-align: center;  
    color:orange  
}